body {
  background: url( material/MSJ_meisai.png )
}

#title {
  text-align: center ;
}

#start {
  text-align: center ;
}

#main {
  width: 200px ;
  height: 400px ;
  margin: auto ;
}

#board {
  border: 1px solid black ;
}

#gameover {
  text-align: center ;
}

